<a href="https://colab.research.google.com/github/Snehalata21/capstoneproject1EDA/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=33
b=2
print(a/b)
print(a//b)
print(a%b)

16.5
16
1

In [ ]:
import re
t="hello world"
p="wprld"
print(re.search(p,t))
print(re.search(p,t))

None
None

In [ ]:
fruits = ["pineapple", "mango", "apple"]
for fruit in fruits:
  print(fruit)

pineapple
mango
apple

In [ ]:
for i in range(5):
  if i==3:
    continue
  print(i)

0
1
2
4

In [ ]:
class example:
  pass
print(type(example))

<class 'type'>

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
from datetime import datetime
print(datetime.now())

2024-12-15 16:10:26.253547

In [ ]:
print("enter your choice 1 or 2")
choice=int(input())
if choice==1:
  print("enter your degree in fahrenheit")
  f=int(input())
  def temp_converter(c):
     c=(f+32)*(5/9)
     return c
  result=temp_converter(f)
  print(result)
else:
  print("enter your degree in celcius")
  c=int(input())
  def temp_converter(f):
    f=c*(9/5)+32
    return f
  result=temp_converter(c)
  print(result)

enter your choice 1 or 2
1
enter your degree in fahrenheit
32
35.55555555555556

In [ ]:
def calculate_total_ticket_cost(no_of_adults, no_of_children):
    adult_ticket_price = 37550
    child_ticket_price =(adult_ticket_price/3)
    service_tax=(adult_ticket_price+child_ticket_price)*0.07
    total_cost = ((no_of_adults * adult_ticket_price) + (no_of_children * child_ticket_price)-service_tax)*0.10
    return total_cost
calculate_total_ticket_cost(5,2)

20927.86666666667

In [ ]:
r=int(input())
area=3.14*r*r
print("area of the circle is",area)

10
area of the circle is 314.0

In [ ]:
number=101
reverse=0
while(number!=0):
  rem=number%10
  reverse=reverse*10+rem
if(temp==reverse):
  temp=number
  print("pallindrome")
else:
  print("not pallindrome")

In [ ]:
print("enter your number")
number=int(input())
def display(num):
  if(num%3==0 and num%5==0):
    print("zoom")
  elif(num%3==0):
    print("zip")
  elif(num%5==0):
    print("zap")
  else:
    print("invalid")
message=display(number)

enter your number
15
zoom

In [ ]:
def summation(num):
  sum=0
  for i in range(1,num+1):
    sum=sum+i
  return sum
summation(5)

15

In [ ]:
def find_product(num1,num2,num3):
  num_list=[num1,num2,num3]
  product=1
  for num in num_list:
    if(num==7):
      product=1
    else:
      product=product*num
  if(num3==7):
    return -1
  else:
    return product
num1=int(input("enter the num1:"))
num2=int(input("enter the num2:"))
num3=int(input("enter the num3:"))
print(find_product(num1,num2,num3))

enter the num1:7
enter the num2:7
enter the num3:6
6

In [ ]:
def form_triangle(num1,num2,num3):
  if(num1+num2>num3 and num1+num3>num2 and num2+num3>num1):
    print("triangle can be formed")
  else:
    print("triangle can not be formed")
print("enter your numbers:")
num1=int(input())
num2=int(input())
num3=int(input())
form_triangle(num1,num2,num3)

enter your numbers:
2
3
4
triangle can be formed

In [ ]:
def make_amount(rupees_to_make,no_of_fives,no_of_one):
  five_needed=0
  one_needed=0
  total_amount=no_of_fives*5+no_of_one
  if(total_amount>=rupees_to_make):
    one_needed=total_amount-rupees_to_make
    print("Rs 1 coin needed=",one_needed)
    five_needed=(rupees_to_make-one_needed)//5
    print("Rs 5 notes needed=",five_needed)
  else:
    print("-1")
  return five_needed,one_needed
make_amount(11,2,11)

Rs 1 coin needed= 10
Rs 5 notes needed= 0

(0, 10)

In [ ]:
def selectionsort(list):
  for i in range(len(list)-1):
    for j in range(i+1,len(list)):
      if(list[i]>list[j]):
        list[i],list[j]=list[j],list[i]
  return list
list=[23,3,56,7,90,25,0,8]
print(selectionsort(list))

[0, 3, 7, 8, 23, 25, 56, 90]

In [ ]:
def bubblesort(list):
  for i in range(len(list)):
    for j in range(len(list)-1):
      if(list[i]>list[j]):
        list[j],list[i]=list[i],list[j]
  return list
list=[23,3,56,7,90,25,0,8]
print(bubblesort(list))

[90, 56, 25, 23, 8, 7, 3, 0]

In [ ]:
def bubblesort(list):
  for i in range(len(list)):
    for j in range(len(list)-1-i):
      if(list[j]>list[j+1]):
        t=list[j]
        list[j]=list[j+1]
        list[j+1]=t
  return list
list=[23,3,56,7,90,25,0,8]
print(bubblesort(list))

[0, 3, 7, 8, 23, 25, 56, 90]

In [ ]:
def mergesort(list):
  if len(list)>1:
    mid=len(list)//2
    left=list[:mid]
    right=list[mid:]
    mergesort(left)
    mergesort(right)
    i=j=k=0
    while i<len(left) and j<len(right):
      if left[i]<right[j]:
        list[k]=left[i]
        i=i+1
      else:
        list[k]=right[j]
        j=j+1
      k+=1
    while i<len(left):
      list[k]=left[i]
      i=i+1
      k=k+1
    while j<len(right):
      list[k]=right[j]
      j=j+1
      k=k+1
  return list
list=[23,3,56,7,90,25,0,8]
print(mergesort(list))

[0, 3, 7, 8, 23, 25, 56, 90]

In [ ]:
def binarysearch(lys,val):
  first=0
  last=len(lys)-1
  index=-1
  while(first<=last) and (index==-1):
    mid=(first+last)//2
    if lys[mid]==val:
      index=mid
    else:
      if val<lys[mid]:
        last=mid-1
      else:
        first=mid+1
  return index
binarysearch([10,20,30,40,50],20)
binarysearch([1,2,3,4,4,5],4)

4

In [ ]:
list=[1,2,2,3,4,4,4,4,2,2]
count =0
for i in range(len(list)-1):
 if list[i]==list[i+1]:
   count=count+1
print(count)

5

In [ ]:
airline = "ai"
source = "bangalore"
destination = "london"
no_of_passenger = int(input("Enter passenger number: "))
if no_of_passenger >= 5 and no_of_passenger <= 10:
    for i in range(no_of_passenger - 5, no_of_passenger):
        ticket_number = airline + ":" + source[:3] + ":" + destination[:3] + ":" + str(101 + i)
        print(ticket_number)
elif no_of_passenger < 5:
    for i in range(no_of_passenger):
        ticket_number = airline + ":" + source[:3] + ":" + destination[:3] + ":" + str(101 + i)
        print(ticket_number)
else:
    print("Invalid")

Enter passenger number: 4
ai:ban:lon:101
ai:ban:lon:102
ai:ban:lon:103
ai:ban:lon:104

In [ ]:
def count_names(name_list):
  count1=0
  count2=0
  for names in name_list:
    count2=count2+names.count("at")
    if len(names)>=2 and names[-2:]=="at":
      count1=count1+1
  print("at",count1)
  print("%a%",count2)
names = ["cat", "hat", "rabbit", "matter"]
count_names(names)

at 2
%a% 3

In [ ]:
i=1
n=10
while(i<=n):
  if(i%2==0):
    print(i)
    i+=1
  else:
    i+=1
    continue
    print("odd")

2
4
6
8
10

In [ ]:
def counting_leap_years(year):
  count=0
  for i in range(1,15):
    if(year%4==0 and year%100!=0 or year%400==0):
      print(year)
    year=year+4
counting_leap_years(1800)

1804
1808
1812
1816
1820
1824
1828
1832
1836
1840
1844
1848
1852

In [ ]:
def calculate_bill_amount(gems_list,price_list,reqd_gems,reqd_quantity):
  bill_amount=0
  total_bill=0
  for i in range(len(reqd_gems)):
    for j in range(len(gems_list)):
      if reqd_gems[i]==gems_list[j]:
        bill_amount=bill_amount+reqd_quantity[i]*price_list[j]
        print(bill_amount)
  if total_bill>30000:
      total_bill=total_bill-total_bill*0.05
      print(total_bill)
  else:
      bill_amount=-1

  return bill_amount
games_list=["emerland","ivory","jasper","ruby","garnet"]
price_list=[17600,21190,15900,39200,39990]
reqd_gems=["ivory","garnet","ruby"]

reqd_quantity=[2,1,3]
bill_amount=calculate_bill_amount(games_list,price_list,reqd_gems,reqd_quantity)
print((2*21190+39990+3*39200)-((2*21190+39990+3*39200)*0.05))

42380
82370
199970
189971.5

In [ ]:
my_list=input("enter your numbers").split()
my_list.sort(reverse=True)
for i in range(len(my_list)):
  print(my_list[i],end='')

enter your numbers22 55 13  33
55332213

In [ ]:
def ispallindrome(number):
  temp=number
  reverse=0
  while((number)!=0):
    rem=number%10
    reverse=reverse*10+rem
    number=number//10
  if(temp==reverse):
    return True
  else:
    return False
status=ispallindrome(121)
if(status):
  print("pallindrome")
else:
  print("not pallindrome")

pallindrome

In [ ]:
def translate(bilingual_dict,english_words_list):
  swedish_words_list=[]
  for i in english_words_list:
    bilingual_dict[i]
    swedish_words_list.append(bilingual_dict[i])
  return swedish_words_list
bilingual_dict={"merry":"god", "christmas":"jul", "and":"och", "happy":"gott", "new":"nytt", "year":"ar"}
english_words_list=["merry","and","christmas"]
print("The bilingual dict is:",bilingual_dict)
print("The english words are:",english_words_list)
swedish_words_list=translate(bilingual_dict,english_words_list)
print("The equivalent swedish words are:",swedish_words_list)

The bilingual dict is: {'merry': 'god', 'christmas': 'jul', 'and': 'och', 'happy': 'gott', 'new': 'nytt', 'year': 'ar'}
The english words are: ['merry', 'and', 'christmas']
The equivalent swedish words are: ['god', 'och', 'jul']

In [ ]:
def find_number_of_combination(number_of_flavours):
    total_combination = 2**number_of_flavours
    return total_combination
number_of_combination=find_number_of_combination(3)
print(number_of_combination)

8

In [ ]:
string1 = "i like python"
string2 = "java is a very popular language"

def find_common_charcter(string1, string2):
  common_chars = ''.join(set(string1).intersection(set(string2)))
  if " " in common_chars:
     common_chars=common_chars.replace(" ","")
  elif string1.upper() in string1 and string2.lower() in string2:
      return -1
  else:
    return -1
  return common_chars

print(find_common_charcter(string1, string2))

ynoiepl

In [ ]:
def encrypt_sentence(sentence):
    vowel_set = set("aeiouAEIOU")
    final_list = []
    words = sentence.split()

    for i in range(len(words)):
        if i % 2 == 0:
            final_list.append(words[i][::-1])
        else:
            consonants = ''.join([c for c in words[i] if c not in vowel_set])
            vowels = ''.join([c for c in words[i] if c in vowel_set])
            final_list.append(consonants + vowels)

    encrypted_sentence = " ".join(final_list)
    print(encrypted_sentence)

encrypt_sentence("the sun rises in the east")

eht snu sesir ni eht stea

In [ ]:
def change_number(num):
  num+=10
  return num
num=20
print(change_number(num))
print(num)

30
20

In [ ]:
def changelist(num_list):
  num_list.append(20)
  print(num_list)
num_list=[10,30,40,50]
changelist(num_list)
print(num_list)

[10, 30, 40, 50, 20]
[10, 30, 40, 50, 20]

In [ ]:
wt_limit=30
def baggage_check(baggage_wt):
  extra_baggage_charge=0
  if not(baggage_wt>=0 and baggage_wt<=wt_limit):
    extra_baggage=(baggage_wt-wt_limit)
    extra_baggage_charge=extra_baggage*100
  return extra_baggage_charge

def update_baggage_limit(new_wt_limit):
  global wt_limit
  wt_limit=new_wt_limit
  print("this airline now allows baggage with a weight limit of",wt_limit,"kgs")

def useless_function_to_prove_a_point():
  print("extra baggage:",extra_baggage)
  print("extra baggage charge:",extra_baggage_charge)

print("this airline allows baggage limit till",wt_limit,"kgs")
print("pay the extra baggage charge of", baggage_check(35),"rupees")
print("extra baggage:",extra_baggage)
print("extra baggage charge:",extra_baggage_charge)
update_baggage_limit(45)
print("pay the extra baggage charge of", baggage_check(35),"rupees")
useless_function_to_prove_a_point

this airline allows baggage limit till 30 kgs
pay the extra baggage charge of 500 rupees

NameError: name 'extra_baggage' is not defined

In [ ]:
def factorial(num):
  fact=1
  for i in range(1,num+1):
    fact=fact*i
  return fact
def find_strong_number(number):
  num_str = str(number)
  total_sum = 0
  for digit_char in num_str:
    digit = int(digit_char)
    total_sum += factorial(digit)

  if total_sum == number:
    print("The number is a strong number")
  else:
    print("The number is not a strong number")

find_strong_number(34)

The number is not a strong number

In [ ]:
def find_pairs_of_numbers(num_list,n):
  pairs_count=0
  for i in range(len(num_list)):
    for j in range(i+1,len(num_list)):
      if num_list[i]+num_list[j]==n:
        pairs_count+=1
  return pairs_count

num_list=[1,2,7,4,5,6,0,3]
n=6
print(find_pairs_of_numbers(num_list,n))
num_list=[3,4,1,8,5,9,0,6]
n=9
print(find_pairs_of_numbers(num_list,n))

3
4

In [ ]:
def sum_of_numbers(list_of_num,filter_func=None):
  lst1=[]
  lst2=[]
  if filter_func==None:
    lst2=[]
  else:
    lst2=filter_func(list_of_num)
  for i in list_of_num:
    if i not in lst2:
      lst1.append(i)
  return lst1
def even(data):
  even_list=[]
  for i in data:
    if i%2==0:
      even_list.append(i)
  return even_list
def odd(data):
  odd_list=[]
  for i in data:
    if i%2!=0:
      odd_list.append(i)
  return odd_list
sample_data=[1,2,3,4,5,6,7,8,9]
print(sum_of_numbers(sample_data))
print(sum_of_numbers(sample_data,even))
print(sum_of_numbers(sample_data,odd))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[2, 4, 6, 8]

In [ ]:
def check_double(number):
    double = number * 2
    number_str = str(number)
    double_str = str(double)

    if sorted(number_str) == sorted(double_str):
        return True
    else:
        return False
print(check_double(125))

False

In [ ]:
def calculate(distance,no_of_passengers):
  price_per_litre=70
  litre_per_km=10
  total_litre=distance*litre_per_km
  total_amount=total_litre*price_per_litre
  price_per_ticket=80
  total_ticketamount=no_of_passengers*price_per_ticket

  if total_ticketamount>total_amount:
    profit=total_ticketamount-total_amount
    print("profit is",profit)
  elif total_ticketamount<total_amount:
    loss=total_amount-total_ticketamount
    print("loss is",loss)
  else:
    print("-1")
distance=int(input("enter the distance"))
no_of_passengers=int(input("enter the no of passengers"))
calculate(distance,no_of_passengers)

enter the distance20
enter the no of passengers50
loss is 10000

In [ ]:
list_of_marks=(12,18,25,24,2,5,18,20,20,21)
avg_marks=sum(list_of_marks)/len(list_of_marks)
def find_more_than_average():
  for i in range(len(list_of_marks)):
    if(list_of_marks[i]>=avg_marks):
      print(list_of_marks[i])

def sort_marks():
  global list_of_marks
  list_of_marks=sorted(list_of_marks)
  return(list_of_marks)


def generate_frequency():
  frequency={}
  for i in list_of_marks:
    if i in frequency:
      frequency[i]+=1
    else:
      frequency[i]=1
  return frequency


find_more_than_average()
print(generate_frequency())
print(sort_marks())

18
25
24
18
20
20
21
{12: 1, 18: 2, 25: 1, 24: 1, 2: 1, 5: 1, 20: 2, 21: 1}
[2, 5, 12, 18, 18, 20, 20, 21, 24, 25]

In [ ]:
correct=0
def find_correct(word_dict):
  for key,value in word_dict.items():
    if key==value:
      global correct
      correct+=1
  print(correct)


word_dict={"THEIR": "THEIR","BUSINESS":"BISINESS","WINDOWS":"WINDMILL","WERE":"WEAR","SAMPLE":"SAMPLE"}
find_correct(word_dict)

2

In [ ]:
def tower_of_hanoi(n,source,destination,temp):
  if n==1:
    disk=source.pop()
    destination.append(disk)
    return
  tower_of_hanoi(n-1,source,temp,destination)
  disk=source.pop()
  destination.append(disk)
  tower_of_hanoi(n-1,temp,destination,source)
  return
source=["blue","green","orange"]
destination=[]
temp=[]
tower_of_hanoi(len(source),source,destination,temp)
print("source",source)
print("destination",destination)

source []
destination ['blue', 'green', 'orange']

In [ ]:
def human_pyramid(no_of_people):
  if no_of_people==1:
    return 50
  else:
    return no_of_people*50+human_pyramid(no_of_people-2)

def find_maximum_people(max_weight):
  no_of_people=1
  while(True):
    weight=human_pyramid(no_of_people)
    if weight<=max_weight:
      no_of_people+=2
    else:
      break
  return no_of_people-2
max_people=find_maximum_people(1000)
print(max_people)

7

In [ ]:
def isPalRec(st, s, e) :
	if (s == e):
		return True
	if (st[s] != st[e]) :
		return False
	if (s < e + 1) :
		return isPalRec(st, s + 1, e - 1);
	return True
def isPalindrome(st) :
	n = len(st)
	if (n == 0) :
		return True
	return isPalRec(st, 0, n - 1);
st = "MadAMa"
if (isPalindrome(st)) :
	print ("the given word is a pallindrome")
else :
	print ("the given word is a pallindrome")

the given word is a pallindrome

In [ ]:
def find_factors(num):
    factors = []
    for i in range(2,(num+1)):
        if(num%i==0):
            factors.append(i)
    return factors
def is_prime(num, i):
    if(i==1):
        return True
    elif(num%i==0):
        return False;
    else:
        return(is_prime(num,i-1))
def find_largest_prime_factor(list_of_factors):
    largest_prime=None
    for i in list_of_factors:
        if(is_prime(i,i//2)):
            largest_prime=i
    return largest_prime
def find_f(num):
    factors=find_factors(num)
    largest_prime=find_largest_prime_factor(factors)
    return largest_prime
def find_g(num):
    total=0
    for i in range(num,num+9):
        total+=find_f(i)
    return total
print(find_g(10))

66

In [ ]:
def find_factors(num):
  factors = []
  for i in range(1,(num+1)):
    if(num%i==0):
      factors.append(i)
  return factors
def find_smallest_number(num):
  i=int(1)
  while(True):
    x=find_factors(i)
    if(len(x)==num):
      print (x)
      break
    else:
      i=i+int(1)
  return x[-1]
num=16
print("the number of divisors:",num)
result=find_smallest_number(num)
print("the smallest number is:",result)

the number of divisors: 16
[1, 2, 3, 4, 5, 6, 8, 10, 12, 15, 20, 24, 30, 40, 60, 120]
the smallest number is: 120

In [ ]:
try:
  flight_file=open("flight.txt","w")
  text=flight_file.write("hello")
  flight_file.close()
  flight_file=open("flight.txt","r")
  text=flight_file.read()
  print(text)
  flight_file.close()
except:
  print("error occured")
else:
  if flight_file.closed:
    print("file is closed")
  else:
    print("file is open ")

hello
file is closed

In [ ]:
def are_special_anagrams(str1, str2):
    str1 = str1.lower()
    str2 = str2.lower()
    if len(str1)!=len(str2):
        return False
    if sorted(str1)!=sorted(str2):
        return False
    for i in range(len(str1)):
        if str1[i] == str2[i]:
            return False
    return True
print(are_special_anagrams("eat","tea"))
print(are_special_anagrams("backward","drawback"))
print(are_special_anagrams("Reductions", "discounter"))
print(are_special_anagrams("About", "table"))

True
False
True
False

In [ ]:
def remove_duplicates(value):
    unique_list =""
    for i in value:
        if i not in unique_list:
            unique_list+=i
    print(unique_list)
remove_duplicates("1122334455ababzzz123#*#*")

12345abz#*

In [ ]:
def check_perfect_number(number):
    sum=0
    if number==0:
        return False
    for i in range(1,number):
        if number%i==0:
            sum+=i
    if sum==number:
        return True
    else:
        return False
    return False
def check_perfect_no_from_list(list_of_numbers):
    empty_list=[]
    for i in list_of_numbers:
        if check_perfect_number(i):
            empty_list.append(i)
    return empty_list
check_perfect_no_from_list([18,6,4,2,1,28])
#check_perfect_no_from_list([87, 76, 567, 99, 0 ])

[6, 28]

day6

In [ ]:

ticket_list=["AI567:MUM:LON:014","AI077:MUM:LON:056", "BA896:MUM:LON:067", "SI267:MUM:SIN:145","AI077:MUM:CAN:060","SI267:BLR:MUM:148","AI567:CHE:SIN:015","AI077:MUM:SIN:050","AI077:MUM:LON:051","SI267:MUM:SIN:146"]
def find_passengers_flight(airline_name="AI"):
  count=0
  for i in ticket_list:
    string_list=i.split(":")
    if(string_list[0].startswith(airline_name)):
        count+=1
  return count
def find_passengers_destination(destination):
  count=0
  for i in ticket_list:
    string_list=i.split(":")
    if(string_list[2]==destination):
        count+=1
  return count
def find_passengers_per_flight():
  list1=[]
  for i in ticket_list:
    string_list=i.split(":")
    list1.append(string_list[0]+":"+str(find_passengers_flight(string_list[0])))
  return list1

def sort_passenger_list():
  list1=find_passengers_per_flight()
  list1.sort(reverse=True)
  return list1

print(find_passengers_flight("AI"))
print(find_passengers_destination("LON"))
print(sort_passenger_list())

6
4
['SI267:3', 'SI267:3', 'SI267:3', 'BA896:1', 'AI567:2', 'AI567:2', 'AI077:4', 'AI077:4', 'AI077:4', 'AI077:4']

In [ ]:
def nearest_pallindrome(number):
    while True:
        number += 1
        if str(number) == str(number)[::-1]:
          return number
          break
number=12321
print(nearest_pallindrome(number))

12421

In [ ]:
def check_prime(number):
  prime_no_list=[]
  if number==0 or number==1:
    return False
  for i in range(2,i//2+1):
    if number==0 or number==1:
      continue
    elif number%i==0:
      prime_no_list.append(i)
      i+=1
  return prime_no_list

#def rotation(number):
check_prime(10)

UnboundLocalError: local variable 'i' referenced before assignment

In [ ]:
def prime(number):
    prime_list = []
    for i in range(2,number):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    print(prime_list)
    return prime_list
def rotations(num):
  string_num=str(num)
  rotation_list=[]



  print(rotation_list)
  return (rotation_list)
def get_circular_prime_count(limit):
  prime_list=prime(limit)
  circular_prime_count=0
  for i in prime_list:
    rotation_list=rotations(i)
    for j in rotation_list:
      if j not in prime_list:
        break
      else:
        circular_prime_count+=1
  return circular_prime_count
print(get_circular_prime_count(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
0

In [ ]:
def add_string(str1):
  if len(str1)<3:
    str1=str1
  elif str1[-3:]=="ing":
    str1=str1+"ly"
  else:
    str1=str1+"ing"


  return str1
str1="is"
print(add_string(str1))

is

In [ ]:
def bracket_pattern(input_str):
  count1=0
  count2=0
  for i in input_str:
    if i=="(":
      count1+=1
    elif i==")":
      count2+=1
  if str1[0]!=")" and str1[-1]!="(" and count1==count2:
    return True
  else:
    return False
input_str=")()((()())"
print(bracket_pattern(input_str))

True

In [ ]:
def creat_new_dictionary(price):
  for key,value in price.items():
    if value>=200:
      print(key,value)
prices={'ACME':45.23,'AAPL':612.78,'IBM':205.55,'HPQ':37.20,'FB':10.75}
creat_new_dictionary(prices)

AAPL 612.78
IBM 205.55

In [ ]:
def find_nine(nums):
  for i in range(4):
    if nums[i]==9:
      return True
  return False
nums=[1,2,9]
print(find_nine(nums))
nums=[1,2,9,3,4]
print(find_nine(nums))
nums=[1,2,3,4]
print(find_nine(nums))
nums=[1,2,9,4,5,6,7,8,9]
print(find_nine(nums))

True
True
False
True

In [ ]:
def count_digits_letters(string1):
  digits=0
  letters=0
  result_list=[]
  for i in string1:
    if i.isdigit():
      digits+=1
    elif i.isalpha():
      letters+=1
  result_list.append(letters)
  result_list.append(digits)
  return result_list
string1="infosys123"
print(count_digits_letters(string1))
string1="abcefg"
print(count_digits_letters(string1))

[7, 3]
[6, 0]

In [ ]:
def validate_name(name):
  str_name=str(name)
  if str(name)==0:
    return False
  elif len(str_name)>15:
    return False
  elif str_name.isalpha()==False:
    return False
  else:
    return True
#name="Infosys Limited"
#print(validate_name(name))
#name="Infosys"
#print(validate_name(name))
def validate_phone_number(phone_number):
  str_phone_number=str(phone_number)
  if len(str_phone_number)!=10:
    return False
  elif str_phone_number.isdigit()==False:
    return False
  elif str_phone_number[0]=="0":
    return False
  elif str_phone_number[0]==str_phone_number[1]==str_phone_number[2]==str_phone_number[3]==str_phone_number[4]==str_phone_number[5]==str_phone_number[6]==str_phone_number[7]==str_phone_number[8]==str_phone_number[9]:
    return False
  else:
    return True
#phone_number="9999999999"
#print(validate_phone_number(phone_number))
#phone_number="12345678@"
#print(validate_phone_number(phone_number))
#phone_number="0376128456"
#print(validate_phone_number(phone_number))
#phone_number="12345678900"
#print(validate_phone_number(phone_number))
#phone_number="6754392763"
#print(validate_phone_number(phone_number))
def validate_email(email):
  str_email=str(email)
  if str_email.count("@")!=1:
    return False
  elif str_email.count(".com")!=1:
    return False
  elif str_email[::-1]!=(".com"):
    return False

  else:
    return True
#email="john.c.breckinridge@altostrat.com"
#print(validate_email(email))

In [ ]:
def check_well_formatted(input_item,list_label):
    if not isinstance(input_item,list):
      return False
    if len(input_item)<2:
      return False
    if input_item[0] not in list_label:
      return False
    for item in input_item[1::]:
      if isinstance(item,str):
        continue
      elif isinstance(item,list):
        if not check_well_formatted(item,list_label):
          return False
      else:
        return False
    return True
#input_list1=['VP', ['V', 'eat']]
#list_label1=['VP']
#result=check_well_formatted(input_list1,list_label1)
input_list1=[1]
list_label1=[1, 2]
result=check_well_formatted(input_list1,list_label1)
if result is True:
    print("Well formatted")
else:
    print("Not Well formatted")

Not Well formatted

In [ ]:
def int_to_roman(num):
  roman_numerals = [ (1000, "M"), (900, "CM"), (500, "D"), (400, "CD"), (100, "C"), (90, "XC"), (50, "L"), (40, "XL"), (10, "X"), (9, "IX"), (5, "V"), (4, "IV"), (1, "I") ]
  roman_string = ""
  for value, symbol in roman_numerals:
    while num >= value:
      roman_string += symbol
      num -= value
  return roman_string
print(int_to_roman(1796))

MDCCXCVI

In [ ]:
def is_substr(word,str1):
  substr_list=[]
  for i in range(0,len(word)):
    for j in range(i+1,len(word)):
        substr_list.append(word[i:j+1])
  if str1 in substr_list:
    return True
  else:
    return False
print(is_substr("hello","hello"))

True

In [ ]:
def delete_ones(num_list):
  temp_list=[]
  for num in num_list:
    if num!=1:
      temp_list.append(num)
  num_list=temp_list
  return num_list
num_list=[1,1,2,1]
print(delete_ones(num_list))

[2]

In [ ]:
list1=[1,2,3,3]
for num in len(list1),:
  print(num,end=" ")    #it will print length of list

4

In [ ]:
def move(list1,list2):
  for num in list1:
    list2.append(num)
    list1.remove(num)
  return list2
list1=[1,2,3,4]
list2=[10]
move(list1,list2)
print(list1,list2)

[2, 4] [10, 1, 3]

In [ ]:
list1=[1,2,3]
var1,var2,var3=list1
var1/var2

0.5

In [ ]:
def fun1():
  try:
    var1=1/0
    return 1
  except ZeroDivisionError:
    #var1=1/0
    return 2
  finally:
    return 3
print(fun1())

3

In [ ]:
train_list=[{'train_no': 23492, 'name': 'Tuticorin Express', 'from': 'MYS', 'to': 'TUT', 'days_of_run': ['Su', 'Mo', 'We'], 'sleeper_fare': 450, 'ac_fare': 780},
            {'train_no': 45200, 'name': 'Kaveri Express', 'from': 'MYS', 'to': 'CHN', 'days_of_run': ['Mo', 'Fr'], 'sleeper_fare': 700, 'ac_fare': 1200},
            {'train_no': 12093, 'name': 'Lokmanya Express', 'from': 'CBE', 'to': 'LOK', 'days_of_run': ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'], 'sleeper_fare': 720, 'ac_fare': 1340},
            {'train_no': 67234, 'name': 'Poorna Express', 'from': 'ERN', 'to': 'PUN', 'days_of_run': ['Th', 'Fr', 'Sa'], 'sleeper_fare': 987, 'ac_fare': 2879}]
def get_train_name(train_no):
    for train_details in train_list:
        if train_details["train_no"] == train_no:
            return train_details["name"]
    return "Invalid Train_no"
def get_trains_for_day(day_of_run):
    train_no_details =[]
    for train_details in train_list:
        each_day_run_list = train_details["days_of_run"]
        if day_of_run in each_day_run_list:
            train_no_details.append(train_details["train_no"])
    if len(train_no_details)==0:
        return "Invalid day"
    return train_no_details
def get_total_fare(train_no, passenger_dict):
    no_sleeper_tickets = passenger_dict["sleeper"]
    no_ac_tickets = passenger_dict["ac"]
    for train_dict in train_list:
        list_train_no = train_dict["train_no"]
        sleeper_fare = train_dict["sleeper_fare"]
        ac_fare = train_dict["ac_fare"]
get_train_name(45200)

'Kaveri Express'

In [ ]:
def ducci_sequence(test_list,n):
  current_list = test_list
  final_list = []
  for i in range(n+1):
      first_part = []
      for i in range(len(current_list)-1):
        first_part.append(abs(current_list[i] - current_list[i + 1]))
      second_part = [abs(current_list[-1] - current_list[0])]
      current_list = first_part + second_part
      final_list.append(current_list)
  return final_list[n]

ducci_element=ducci_sequence([0,653,1854,4063],1)
print(ducci_element)

[548, 1008, 1854, 3410]

In [ ]:
def list_rotate(uniquecode_list):
    rotated_list=[]
    #Write your code here
    return rotated_list

#You may modify the below code for testing
uniquecode_list=["AZ01-1234","R137-8714"]
rotated_list = list_rotate(uniquecode_list)
print(rotated_list)

[]

In [ ]:
def list123(nums):
  for i in range(len(nums)-2):
    if nums[i]==1 and nums[i+1]==2 and nums[i+2]==3:
      return True
  return False
nums=[1,1,2,4,3]
print(list123(nums))

False

In [ ]:
def seed_no(number,ref_no):
  number_str=str(number)
  ref_no_str=str(ref_no)
  product=1
  for digit in number_str:
    product*=int(digit)
  if product*int(number_str)==ref_no:
      return True
  return False
number=123
ref_no=738
print(seed_no(number,ref_no))
number=45
ref_no=1000
print(seed_no(number,ref_no))

True
False

day7

In [ ]:
def purchase_mobile(price,brand):
    if brand == "Apple":
        discount = 10
    else:
        discount = 5
    total_price = price - price * discount / 100
    print("Total price of "+str(total_price))

def purchase_shoe(price,material):
    if material == "leather":
        tax = 5
    else:
        tax = 2
    total_price = price + price * tax / 100
    print("Total price of is "+str(total_price))

purchase_mobile(20000,"Apple")
purchase_shoe(200,"leather")

Total price of 18000.0
Total price of is 210.0

In [ ]:
class Mobile:
  pass
mob1=Mobile()
mob2=Mobile()
mob1.price=30000
mob1.brand="Apple"
mob1.ios_version=10

print(mob1.ios_version)
mob2.price=20000
mob2.brand="Samsung"
mob1.ios_versio=10
print(mob2.ios_versio)

10

AttributeError: 'Mobile' object has no attribute 'ios_versio'

In [ ]:
class Even_odd():
  def data_input(self,num):
    self.num=num
  def check(self):
    if self.num%2==0:
      print("even")
    else:
      print("odd")
obj1=Even_odd()
obj2=Even_odd()
obj3=Even_odd()
obj1.data_input(212)
obj2.data_input(21)
obj3.data_input(2)
obj1.check()
obj2.check()
obj3.check()

even
odd
even

In [ ]:
class pallindrom():
  def data_input(self,string):
    self.string=string
  def check(self):
    if self.string==self.string[::-1]:
      print("pallindrom")
    else:
      print("not pallindrom")
obj1=pallindrom()
obj1.data_input("madam")
obj1.check()

pallindrom

In [ ]:
class pallindrom():
  def data_input(self,num):
    self.num=num
  def check(self):
    num_str=str(self.num)
    if num_str==num_str[::-1]:
      print("pallindrom")
    else:
      print("not pallindrom")
obj1=pallindrom()
obj1.data_input(323)
obj1.check()

pallindrom

In [ ]:
class Vehicle:
  def __init__(self,milage,fuel_left):
    self.milage=milage
    self.fuel_left=fuel_left

  def identify_distance_that_can_be_travelled(self):
    initial_fuel=15
    if self.fuel_left<=5:
      print("not enough fuel")
    else:
      max_distance=(initial_fuel-5*self.milage)-self.identify_distance_travelled(initial_fuel )
      print("maximum distance can be travelled is:",max_distance)

  def identify_distance_travelled(self,initial_fuel):
      distance_covered=(initial_fuel-self.fuel_left)*self.milage
      print("the covered distance is:",distance_covered)

car=Vehicle(12,20)
car.identify_distance_that_can_be_travelled()
car.identify_distance_travelled(25)

the covered distance is: -60

TypeError: unsupported operand type(s) for -: 'int' and 'NoneType'

In [ ]:
class Athlete:
    def __init__(self,name,gender):
        self.__name=name
        self.__gender=gender

    def running(self):
        if(self.__gender=="girl"):
            print("150mtr running")
        else:
            print("200mtr running")
    def set_name(self,name):
        self.__name=name
    def set_gender(self,gender):
        self.__gender=gender
    def get_name(self):
      return self.__name
    def get_gender(self):
      return self.__gender
obj1=Athlete("maria","girl")
print(obj1.get_name())
print(obj1.get_gender())
obj1.running()

maria
girl
150mtr running

In [ ]:
class Vehicle:
  def __init__(self,vehicle_id,vehicle_type,cost,premium_amount):
    self.vehicle_id=vehicle_id
    self.vehicle_type=vehicle_type
    self.cost=cost
    self.premium_amount=premium_amount
  def display_vehicle_details(self):
    print("vehicle_id:",self.vehicle_id)
    print("vehicle_type:",self.vehicle_type)
    print("cost:",self.cost)
    print("premium_amount:",self.premium_amount)
  def calculate_premium(self):
    if self.vehicle_type=="two wheeler":
      self.premium_amount=self.cost*2/100
    else:
      self.premium_amount=self.cost*6/100
vehicle1=Vehicle(123,"two wheeler",1000000,0)
vehicle2=Vehicle(124,"four wheeler",2000000,0)
vehicle1.calculate_premium()
vehicle2.calculate_premium()
vehicle1.display_vehicle_details()
vehicle2.display_vehicle_details()

vehicle_id: 123
vehicle_type: two wheeler
cost: 1000000
premium_amount: 20000.0
vehicle_id: 124
vehicle_type: four wheeler
cost: 2000000
premium_amount: 120000.0

In [ ]:
class Instructor:
  def __init__(self,name,technology_skill,experience,avg_feedback):
    self.name=name
    self.technology_skill=technology_skill
    self.experience=experience
    self.avg_feedback=avg_feedback
  def check_eligibility(self):
    if self.experience>3 and self.avg_feedback>=4.5:
      print("eligible")
    else:
      print("not eligible")
  def allocate_course(self,technology):
    if technology in self.technology_skill:
      print("allocated")
    else:
      print("not allocated")

instructor1=Instructor("jack","java",4,4.8)
instructor1.check_eligibility()
instructor1.allocate_course("python")
instructor1.allocate_course("java")

eligible
not allocated
allocated

In [ ]:
class Student:
  def __init__(self,name,age,marks,course_id,fees):
    self.__name=None
    self.__age=None
    self.__marks=None
    self.course_id=None
    self.fees=None
  def display_details(self):
    print(self.get_name())
    print(self.get_age())
    print(self.get_marks())
  def set_name(self,name):
    self.__name=name
  def set_age(self,age):
    self.__age=age
  def set_marks(self,marks):
    self.__marks=marks
  def get_name(self):
    return self.__name
  def get_age(self):
    return self.__age
  def get_marks(self):
    return self.__marks
  def validate_marks(self):
    if self.__marks<0 or self.__marks>100:
      return False
    else:
      return True

  def validate_age(self):
    if self.__age>20:
      return True
    else:
      return False

  def check_qualification(self):
    if self.validate_age() and self.validate_marks():
      if self.__marks>=65:
        return True
      else:
        return False
    else:
      return False
  def choose_course(self,course_id,fees):
    if self.course_id==1001
      self.fees=25575.0
      if self.marks>85:
        total_fees=self.fees*25/100
        return True
    else:
        self.f

      print("qualified")
    else:
      print("not qualified")

student1=Student("jack",22,65)
print(student1.check_qualification())
print(student1.display_details())

True
jack
22
None

day8

In [ ]:
class Customer:
  def __init__(self,name,age,phone_no,address):
    self.name=name
    self.age=age
    self.phone_no=phone_no
    self.address=address
  def view_details(self):
    print(self.name,self.age,self.phone_no)
    print(self.address.door_no,self.address.street,self.address.pincode)
  def update_details(self,add):
    self.address=add
class Address:
  def __init__(self,door_no,street,pincode):
    self.door_no=door_no
    self.street=street
    self.pincode=pincode
  def update_adress(self):
    pass
add1=Address(123,"5th lane",56001)
add2=Address(567,"6th lane",82006)
cus1=Customer("jack",24,1234,add1)
cus1.view_details()
cus1.update_details(add2)
cus1.view_details()

jack 24 1234
123 5th lane 56001
jack 24 1234
567 6th lane 82006

In [ ]:
class Customer:
  def __init__(self,name,age,phone_no,address):
    self.name=name
    self.age=age
    self.phone_no=phone_no
    self.address=address
  def view_details(self):
    print(self.name,self.age,self.phone_no)
    print(self.address.get_door_no(),self.address.get_street(),self.address.get_pincode())
  def update_details(self,add):
    self.address=add
class Address:
  def __init__(self,door_no,street,pincode):
    self.__door_no=door_no
    self.__street=street
    self.__pincode=pincode
  def update_adress(self):
    pass
  def set_door_no(self,door_no):
    self.__door_no=door_no
  def set_street(self,street):
    self.__street=street
  def set_pincode(self,pincode):
    self.__pincode=pincode
  def get_door_no(self):
    return self.__door_no
  def get_street(self):
    return self.__street
  def get_pincode(self):
    return self.__pincode
add1=Address(123,"5th lane",56001)

cus1=Customer("jack",24,1234,add1)
cus1.view_details()

jack 24 1234
123 5th lane 56001

In [ ]:
class Customer:
  def __init__(self,name,age,phone_no):
    self.name=name
    self.age=age
    self.phone_no=phone_no
  def purchase(self,payment):
    if payment.method=="card":
      print("paying by card")
    elif payment.method=="e_wallet":
      print("paying by e_wallet")
    else:
      print("paying by cash")
class Payment:
  def __init__(self,method):
    self.method=method
payment1=Payment("card")
c=Customer("jack",23,1234)
c.purchase(payment1)

paying by card

In [ ]:
class Customer:
  def __init__(self,name,cust_type,bill):
    self.name=name
    self.cust_type=cust_type
    self.bill=bill
  def calculate_bill(self):
    tax1=Tax(self.cust_type)
    final_bill=self.bill*tax1.tax_details(self.cust_type)
    return final_bill
class Tax:
  def __init__(self,cust_type):
    self.cust_type=cust_type
  def tax_details(self,cust_type):
    if (cust_type=="student"):
      return 5
    else:
      return 10
c=Customer("jack","student",1000)
print(c.calculate_bill())

5000

In [ ]:
class Parrot:
    __counter = 7001

    def __init__(self, name, color):
        self.__name = name
        self.__color = color
        Parrot.__counter += 1
        self.__unique_number = Parrot.__counter

    def get_name(self):
        return self.__name

    def get_color(self):
        return self.__color

    def get_unique_number(self):
        return self.__unique_number

    def display_details(self):
        print(f"Name: {self.get_name()}, Color: {self.get_color()}, Unique Number: {self.get_unique_number()}")

parrot1 = Parrot("Polly", "Green")
parrot2 = Parrot("Tolly", "Black")
parrots=[parrot1,parrot2]
for parrot in parrots:
    parrot.display_details()
#parrot1.display_details()
#parrot2.display_details()

Name: Polly, Color: Green, Unique Number: 7002
Name: Tolly, Color: Black, Unique Number: 7003

In [ ]:
class Customer:
    def __init__(self,phone_no,name,age):
        self.phone_no=phone_no
        self.name=name
        self.age=age
        self.list_of_calls=None

class CallDetail:
    def __init__(self,phone_no,called_no,duration):
        self.phone_no=phone_no
        self.called_no=called_no
        self.duration=duration

class Util:
    def __init__(self):
        self.list_of_customer_calldetail_objects=[]
    def parse_customer(self,list_of_customers,list_of_calls):
      self.list_of_customer_calldetail_objects=[]
      for customer in list_of_customers:
        customer.list_of_calls=[]
        for call in list_of_calls:
          if customer.phone_no==call.phone_no:
            customer.list_of_calls.append(call)
        self.list_of_customer_calldetail_objects.append([customer.phone_no,customer.name,customer.age])
      print(self.list_of_customer_calldetail_objects)
cust1=Customer(9900009901,'cust1',23)
cust2=Customer(9900009902,'cust2',24)
cust3=Customer(9900009903,'cust3',25)
list_of_customers=[cust1,cust2,cust3]

call1=CallDetail(9900009901,8800123401,5)
call2=CallDetail(9900009903,8800123402,10)
call3=CallDetail(9900009902,8800123403,2)
call4=CallDetail(9900009901,8800123404,8)
call5=CallDetail(9900009901,8800123405,7)
call6=CallDetail(9900009903,8800123406,9)
call7=CallDetail(9900009903,8800123407,4)
list_of_calls=[call1,call2,call3,call4,call5,call6,call7]

Util().parse_customer(list_of_customers, list_of_calls)

[[9900009901, 'cust1', 23], [9900009902, 'cust2', 24], [9900009903, 'cust3', 25]]

day9

In [ ]:
class Phone:
  def __init__(self,price,brand,camera):
    self.price=price
    self.brand=brand
    self.camera=camera
  def buy(self):
    print("buying phone")
  def return_phone(self):
    print("returning phone")
class Featuredphone(Phone):
  pass
class SmartPhone(Phone):
  def __init__(self,price,brand,camera,os,ram):
    super().__init__(price,brand,camera)
    self.os=os
    self.ram=ram
    print("inside the constructor")
  def buy(self):
    print("buying feature phone")

s=SmartPhone("50000","iphone","20p","android",8)
print(s.os)
print(s.brand)

inside the constructor
android
iphone

In [ ]:
class Phone:
  def __init__(self,price,brand,camera):
    self.price=price
    self.brand=brand
    self.camera=camera
  def buy(self):
    print("buying phone")
  def return_phone(self):
    print("returning phone")
class Featuredphone(Phone):
  pass
class SmartPhone(Phone):

  def buy(self):
    print("buying feature phone")
    super().buy()

s=SmartPhone(50000,"android",8)
s.buy()

buying feature phone
buying phone

In [ ]:

class Phone:
  def __init__(self,price,brand,camera):
    self.price=price
    self.brand=brand
    self.camera=camera
  def buy(self):
    print("buying phone")
  def return_phone(self):
    print("returning phone")
class Product:
  def buy(self):
    print("product buy method")
class SmartPhone(Product,Phone):
  pass

s=SmartPhone(50000,"android",8)
s.buy()

product buy method

In [ ]:
import re
count=0
matcher=re.finditer("python","python is a prog and python is High level")
for match in matcher:
    count+=1
    print(match.start(),"...",match.end(),"...",match.group())
    print("The number of occurrences: ",count)

0 ... 6 ... python
The number of occurrences:  1
21 ... 27 ... python
The number of occurrences:  2

1

In [ ]:
def reverse_string(string):
  if len(string)==0:
    return string
  else:
    return reverse_string(string[1:])+string[0]
print(reverse_string("hello"))

olleh

2

In [ ]:
a = [10, 20, 4, 45, 99]
a.sort(reverse=True)
print(a[1])

45

3

In [ ]:
def display(num):
  for num in range(1,10):
    if(num%3==0 and num%5==0):
      print("fizzbuzz")
    elif(num%3==0):
      print("fizz")
    elif(num%5==0):
      print("buzz")
    else:
      print("invalid")
message=display(number)

invalid
invalid
fizz
invalid
buzz
fizz
invalid
invalid
fizz

4

In [ ]:
def check_anagram(s1, s2):
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")
s1 ="listen"
s2 ="silent"
check_anagram(s1, s2)

The strings are anagrams.

5

In [ ]:
def find_prime():
  for num in range(1,50):
    if num>1:
      for i in range(2,num):
        if(num%i)==0:
          break
      else:
        print(num)
find_prime()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

6

In [ ]:
def fibonacci(n):
  if n<=0:
    print("incorrect input")
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)

fibonacci(5)

3

7

In [ ]:
def most_frequent_element(list):
  counter = 0
  num = list[0]
  for i in list:
    curr_frequency = list.count(i)
    if(curr_frequency> counter):
      counter = curr_frequency
      num = i
  return num

list = [2, 1, 2, 2, 1, 3]
print(most_frequent_element(list))

2

8

In [ ]:
def is_armstrong(num):
	num_str = str(num)
	n = len(num_str)
	sum = 0
	for digit in num_str:
		sum += int(digit)**n
	if sum == num:
		print("it is an armstrong number")
	else:
		print("it is not an armstrong number")
num=153
is_armstrong(num)

it is an armstrong number

9

In [ ]:
def merging_two_sorted_list(list1,list2):
  list3=[]
  while(list1 and list2):
    if(list1[0]<list2[0]):
      list3.append(list1.pop(0))
    else:
      list3.append(list2.pop(0))
  return list3
list1=[1,3,5,7]
list2=[2,4,6,8]
print(merging_two_sorted_list(list1,list2))

[1, 2, 3, 4, 5, 6, 7]

10

In [ ]:
def longest_word(string1):
  longest_word=""
  for word in string1.split():
    if len(word)>len(longest_word):
      longest_word=word
  return longest_word
string1="hello everyone"
print(longest_word(string1))

everyone

In [ ]:
def prime_number():
  a=int(input("enter your range1"))
  b=int(input("enter your range2"))
  for num in range(a,b):
    if num >1:
      for i in range(2,num):
        if (num%2)==0:
          break
      else:
          print(num)
prime_number()

enter your range11
enter your range210
2
3
5
7
9